* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #E5E7EB;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 30px;
}

header {
  background-color: #1F2937;
  height: 70px;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  height: 100%;
  align-items: center;
}

header .logo {
  font-size: 24px;
  color: #F9FAF8;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  font-size: 18px;
  color: #E5E7EB;
}

.navbar a:hover {
  color: goldenrod;
}

.hero {
  background-color: #1F2937;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-content p {
  font-size: 18px;
  color: #E5E7EB;
}


.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 500px;
}

.hero img {
  width: 50%;
  border-radius: 10px;
}

.hero-button {
  color:#E5E7EB;
  background-color: #3882F6;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 700;
  cursor: pointer;
}

.information .information-cards {
  display: flex;
  flex: 1;
  gap: 30px;
  justify-content: space-between;
}

.information h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
  
}

.information-cards .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 250px;
  color: #1F2937;
  gap: 15px;
}

.information img {
  width: 200px;
  border-radius: 10px;
}

.quote {
  background-color: #E5E7EB;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.quote figcaption {
  color: #1F2937;
  text-align: right;
}